# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE and editors
.idea/
.vscode/

# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Production builds
/build
dist/

# Secrets and environment files
.env
.env.*
*.env
*token.json*
*credentials.json*
client_secret_*.json
PAT.txt

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dump.rdb

# System files
.DS_Store
*.pem

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Development tools
.chainlit
.ipynb_checkpoints/
.cache/

# Deployment
.vercel

# Archive files
**/*.zip
**/*.tar.gz
**/*.tar
**/*.tgz
*.pack
*.deb
*.dylib
